.widgets {
    .data-table-container {
        width: 100%;
        .panel-heading {
            margin-top: 25px;
        }
    }
}

.param_table {
    border: 1px solid #e6e6e6;
    margin-top: 5px;
}

.param_table table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #e6e6e6;
}

.param-icon-table {
    display: none;
}

.param_table td, .param_table th {
    vertical-align: top;
}

.param_table th {
    width: 88px;
    padding: 7px 0 0 14px;
    background: #fafafa;
    border-right: 1px solid #e6e6e6;
    text-align: left;
    font: bold 16px/26px Microsoft YaHei, 微软雅黑, arial;
}

.param_table .param-proname {
    padding: 7px 0 7px 14px;
    background: #fafafa;
    border-bottom: 1px solid #e6e6e6;
    font: bold 16px/26px Microsoft YaHei, 微软雅黑, arial;
}

.param_table td {
    width: 482px;
}

.param_content {
    padding: 6px 20px 8px 20px;
}

.param_content .val_pic {
    float: right;
    margin: 6px 0 8px 25px;
}

.val_pic img {
    vertical-align: middle;
}

.category_param_list li {
    position: relative;
    padding: 2px 0 2px 130px;
    line-height: 26px;
    _zoom: 1;
    word-wrap: break-word;
    font: 14px/26px Microsoft YaHei, 微软雅黑, arial;
    color: #666;
}

.category_param_list span a {
    color: #666;
    border-bottom: 1px dashed #3687d9;
}

.category_param_list span a:hover {
    color: #f60;
    text-decoration: none;
    border-bottom: 1px solid #f60;
}

.category_param_list .param-name {
    position: absolute;
    left: 0;
    top: 2px;
    font-weight: bold;
}

.category_param_list .edit_param {
    margin-left: 10px;
    display: none;
    white-space: nowrap;
}

.param_table .hover .edit_param {
    display: inline;
}

.param_table p {
    margin: 0 10px;
    color: #999;
    font-size: 12px !important;
    text-align: right;
}

.param_content_add td{
    vertical-align: middle;
}
.add-modal-footer-btn{
    text-align: center;
}
.add-modal-footer-btn button{
    letter-spacing:5px;
    font-size: 15px !important;
}
.tab-content .box-pane i{
    color: #dd4b39;
}

.tab-content .box-pane ol li{
    vertical-align: middle;
    margin: 5px;
}
.tab-content .box-pane ol li button{
   background-color: whitesmoke;
    vertical-align: middle;
    margin: 5px;
}
